<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>Add a book we don't have!</p>
    <form action="/search_result" method="GET">
        <p>Add Book<input id="name" type="text" name="name"> </p>
        <p>Proice<input id="price" type="text" name="price"> </p>
        <input type="submit" value="Add Book" >
      </form>
  
  </body>
</html>