<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>Here are the books that we sell!</p>
    <ul>
    <% for (let i=0; i< availableBooks.length; i++) { %>
        <li>
            <%=availableBooks[i].name %>, <%=availableBooks[i].price %>
        </li>
        <% } %>
    </ul>
  </body>
</html>